.formModalStyle div label {
  color: #383838;
}

.formModalStyle div input {
  color: #4f4f4f;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
}

.formModalStyle div select {
  border-radius: 4px;
  border: 1px solid #e3e3e3;
}

.formModalStyle div input::placeholder,
.formModalStyle div select {
  color: #696969;
}

.btnFormModal {
  border: 1px solid #afafaf;
}
