.card {
  font-size: 13px;
  height: 160px;
}

.card img {
  height: 70%;
}

.card-body {
  height: 30%;
}

@media (max-width: 1500px) {
  .card {
    height: 140px;
  }
}

@media (max-width: 1340px) {
  .card {
    height: 120px;
  }
}

@media (max-width: 1200px) {
  .card {
    height: 110px;
  }
}

@media (max-width: 992px) {
  .card {
    height: 140px;
  }
}
@media (max-width: 576px) {
  .card {
    height: 190px;
  }
}
@media (max-width: 472px) {
  .card {
    height: 170px;
  }
}
@media (max-width: 367px) {
  .card {
    height: 150px;
  }
}
